<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="landing.component.css" />
    <link rel="icon" href="img/LOGO.png" />
    <!--boostrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <title>SaveUp</title>
</head>

<body>

    <div id="container">
        <header id="header">
            <div id="page">
                <div id="box_1">
                    <img id="logo" src="assets/images/LOGO.png">
                </div>
                <div id="box">
                    <nav id="my_nav">
                        <a href="#startup_tittle" class="menu_item">Nosotros</a>
                        <a href="#our_team" class="menu_item" id="menu_equipo">Equipo</a>
                    </nav>
                </div>
                <div id="cajon3">
                    <button id="botonRegistro" class="btn btn-outline-success" type="button" routerLink="/login/session">Registrarse</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </header>

        <section>
            <h1 class="startup_tittle"> ¿Quienes somos? </h1>
            <br>

            <div class="container2">
                <img id="logo" src="assets/images/trabajo.jpg" alt="Descripción de la imagen">
                <div class="description">
                    <p id="who_we_are_p">Somos una empresa dedicada a la venta de productos embasados y enlatados a muy buen precio y accesibles para todo publico, contamos con mas de 4 años en el mercado.</p>
                </div>
            </div>
            <br>
            <h1 class="startup_tittle"> SaveUp </h1>
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="sub_tittle">Nuestra Misión</h1>
                    </div>
                    <div class="col">
                        <h1 class="sub_tittle">Nuestra Visión</h1>
                    </div>
                </div>
                <br>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);">
                            <img src="https://assets.website-files.com/5f1618726b3fb3f4cbb10bd2/624a08b72fd6200b7e73ce88_mission%20.jpg" class="card-img-top" alt="..." style="height: 305px;">
                            <div class="card-body">
                                <p class="card-text" style="text-align: justify;"> Ofrecer productos de alta calidad a precios asequibles mientras abordamos el problema del desperdicio de alimentos en el Perú.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="width: 18rem;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);">
                            <img src="https://assets.website-files.com/5f1618726b3fb3f4cbb10bd2/624a07a45e22f801be74b95a_vision%20.jpg" class="card-img-top" alt="..." style="height: 295px;">
                            <div class="card-body">
                                <p class="card-text" style="text-align: justify;">Convertirnos en líderes nacionales en la venta de productos de calidad a precios asequibles y fomentando el acceso a alimentos de calidad para todos los peruanos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container text-center">
                <div class="row">

                    <div class="col align-self-center">
                        <h1 class="sub_tittle">Nuestros Valores</h1>
                        <section>
                            <div class="card" style="width: 18rem;
                        top: 50%;
                        left: 50%;
                        ;transform: translate(-50%)">
                                <img src="assets/images/values.jpg" class="card-img-top" alt="..." style="height: 305px;">
                                <div class="card-body">
                                    <p class="card-text" style="text-align: justify;">Nuestra empresa cuenta con valores como la sostenibilidad, calidad, excelencia, innovación e inclusión pues estamos comprometidos con ofrecer productos de calidad a precios asequibles y fomentando el acceso de alimentos
                                        para todos los peruanos.</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <br><br>

            <h1 class="startup_tittle">Nuestro Equipo</h1>
            <br>

            <div class="container">
                <div class="row text-center">
                    <div class="col-xl-4 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-10">
                            <img src="assets/images/willy.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Willy David Valentin Ricaldi</h5><span class="small text-uppercase text-muted">Ingeniería de Software</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item">
                                    <a href="#" class="social-link"><i class="bi bi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-4 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/images/angie.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Clara Angie Valverde Salazar</h5><span class="small text-uppercase text-muted">Ingeniería de Software</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div id="caracter_emerson" class="col-xl-4 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/images/emerson.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Emerson Gerardo Quispe Villegas</h5><span class="small text-uppercase text-muted">Ingeniería de Software</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-sm-6 mb-5">

                    </div>
                    <div class="col-xl-4 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/images/francisco.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Aldo Francisco Pastrana León</h5><span class="small text-uppercase text-muted">Ingeniería de Software</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-4 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/images/marzzio.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Marzzio Braulio Chicana Romero</h5><span class="small text-uppercase text-muted">Ingeniería de Software</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-6 mb-5">

                    </div>
                </div>
            </div>
            <br>
            <div class="clearfix"></div>
        </section>

    </div>
    <footer>
        <div class="container footer_container">
            <p>Todos los derechos reservados &copy; 2023</p>
            <ul class="footer_ul">
                <li class="footer_li"><a href="#startup_tittle">Nosotros</a></li>
                <li class="footer_li"><a href="#our_team">Nuestro Equipo</a></li>
            </ul>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="javascript/javascript.js"></script>

</body>

</html>